
body{
  margin:80px
}

.start{
  margin-top: 180px;
}

.navbar-footer-menu{
  list-style:none;
  margin:0;
  padding:0;
}

.navbar-footer-menu li{
  display:inline-block;
  line-height: 50px;
  width:30%;
  text-align: center;
}