
<div ng-include="'tpl/include/header.html'"></div>

<div class="container">

  <form ng-hide="succMsg || errMsg">
    <div class="form-group">
      <label for="name">联系人</label>
      <input type="text" id="name"
             class="form-control" ng-model="order.user_name"/>
    </div>

    <div class="form-group">
      <label>性别</label>
      <div class="radio-inline">
        <label>
          <input type="radio"
                 ng-model="order.sex"
                 value="1"/>男
        </label>
      </div>
      <div class="radio-inline">
        <label>
          <input type="radio"
                 ng-model="order.sex"
                 value="2"/>女
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="phone">联系电话</label>
      <input type="text" id="phone"
             ng-model="order.phone"
             class="form-control"/>
    </div>

    <div class="form-group">
      <label for="address">送餐地址</label>
      <textarea id="address"
                ng-model="order.addr"
                class="form-control"></textarea>
    </div>


    <input type="button"
           ng-click="submitOrder()"
           class="btn btn-success btn-block" value="提交订单"/>


  </form>

  <p ng-show="succMsg">{{succMsg}}</p>
  <p ng-show="errMsg">{{errMsg}}</p>
</div>
<div ng-include="'tpl/include/footer.html'"></div>